{{#rows}}
<b>{{type}}</b><br />
<a href="{{at_url}}">AT</a>  {{date}}  {{#geo}}<a href="{{base_url}}/#{{year}}/{{week}}/{{id}}">Keskkonnateadete kaart</a>  <a href="http://maps.google.com/maps?q={{geo.lat}},{{geo.lng}}">Google kaart</a>{{/geo}}
<br />
<br />
{{{description}}}<br />
<br />
<br />
<br />
{{/rows}}
---<br />
<br />
Keskkonnateated<br />
{{base_url}}<br />
{{email}}